@import "variables";

html {
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
}

// Удаление иконки очистки поля в IE
input[type="text"]::-ms-clear {
    display: none;
}

// Удаление иконки отображения пароля в IE
input[type="password"]::-ms-reveal {
    display: none;
}

body, html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    &.unscrollable {
        overflow: hidden !important;
    }
}

.blog, .post {
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    color: #3B3E43;
    background-color: #ffffff;
    box-sizing: border-box;

    *,
    *:before,
    *:after {
        box-sizing: border-box;
        outline: none !important;
    }

    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }

    .hidden {
        display: none !important;
    }

    .invisible {
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        margin: -1px !important;
        border: 0 !important;
        padding: 0 !important;
        white-space: nowrap !important;
        clip-path: inset(100%) !important;
        clip: rect(0 0 0 0) !important;
        overflow: hidden !important;
        z-index: -1 !important;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        outline: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        box-sizing: border-box;
        height: 60px;
        background: linear-gradient(180deg, #74C733 0%, #57A41B 100%);
        box-shadow: 0 45px 72px rgba(116, 199, 51, 0.15),
        0 25px 40px rgba(116, 199, 51, 0.25),
        0 5px 15px rgba(116, 199, 51, 0.45);
        border-radius: 16px;

        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 19px;
        //color: $color-font-btn;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;

        transition: all .2s linear;

        @media (min-width: $md) {
            &:hover {
                box-shadow: 0 0 0 rgba(255, 255, 255, 0);
            }
        }

        &:disabled {
            background: none;
            box-shadow: 0 0 0 rgba(255, 255, 255, 0);
            color: #C6C5D2;
            cursor: not-allowed;
        }
    }

    .color-accent {
        display: inline-block;
        color: $color-accent;
    }




    .form {
        margin-top: 37px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        @media (min-width: $md) {
            flex-direction: row;
            align-items: flex-start;
            margin-top: 42px;
        }

        label {
            display: block;
            position: relative;
            width: 100%;
            margin-bottom: 10px;

            @media (min-width: $md) {
                width: 270px;
                margin-right: 10px;
                margin-bottom: 0;
            }
        }

        button {
            display: block;
            position: relative;

            @media (min-width: $md) {
                width: 282px;
                //margin-right: 10px;
            }
        }

        .help {
            display: none;

            @media (min-width: $md) {
                display: block;
                position: absolute;
                bottom: -44px;
                left: 75px;
                width: 256px;
                height: auto;
                font-weight: 700;
                font-size: 10px;
                line-height: 11px;
                letter-spacing: 0.06em;
                color: #F95C3A;
            }

            img {
                display: block;
                position: absolute;
                top: -15px;
                left: -50px;
                width: 41px;
                height: 22px;
            }
        }
    }

    .input {
        display: flex;
        align-items: center;
        justify-content: center;
        outline: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-sizing: border-box;
        cursor: pointer;

        width: 100%;
        height: 60px;
        padding: 0 24px;
        //background: $color-back-primary;
        border: 1px solid #88879B;
        border-radius: 14px;

        font-style: italic;
        font-weight: 500;
        font-size: 13px;
        line-height: 17px;
        text-align: left;
        //color: $color-font-control;

        transition: all .2s linear;

        &:focus {
            //border-color: $color-font-accent;
        }

        &:disabled {
            cursor: not-allowed;
            background: #F5F4F8;
            border-color: #E1E1E7;
            color: #C6C5D2;
        }

        &.error {
            border-color: #C93329;
            color: #C93329;
        }

        &.valid {
            //border-color: $color-font-accent;
            //color: $color-font-accent;
        }

        &::-webkit-input-placeholder {
            color: #C6C5D2;
            opacity: 1;
            transition: opacity 0.2s ease;
        }

        &::-moz-placeholder {
            color: #C6C5D2;
            opacity: 1;
            transition: opacity 0.2s ease;
        }

        &:-moz-placeholder {
            color: #C6C5D2;
            opacity: 1;
            transition: opacity 0.2s ease;
        }

        &:-ms-input-placeholder {
            color: #C6C5D2;
            opacity: 1;
            transition: opacity 0.2s ease;
        }

        &:focus::-webkit-input-placeholder {
            color: #C6C5D2;
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        &:focus::-moz-placeholder {
            color: #C6C5D2;
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        &:focus:-moz-placeholder {
            color: #C6C5D2;
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        &:focus:-ms-input-placeholder {
            color: #C6C5D2;
            opacity: 0;
            transition: opacity 0.2s ease;
        }
    }




    // Grid on 12 columns
    &__container {
        display: block;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

        @media (min-width: $sm) {
            padding-right: 40px;
            padding-left: 40px;
        }

        @media (min-width: $md) {
            max-width: 720px;
            padding-left: 0;
            padding-right: 0;
        }

        @media (min-width: $lg) {
            max-width: 960px;
        }

        @media (min-width: $xl) {
            max-width: 1060px;
        }
    }
}