@import "variables";

html {
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
}

// Удаление иконки очистки поля в IE
input[type="text"]::-ms-clear {
    display: none;
}

// Удаление иконки отображения пароля в IE
input[type="password"]::-ms-reveal {
    display: none;
}

body, html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    &.unscrollable {
        overflow: hidden !important;
    }
}

.blog, .post {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    color: #3B3E43;
    background-color: #ffffff;
    box-sizing: border-box;

    *,
    *:before,
    *:after {
        box-sizing: border-box;
        outline: none !important;
    }

    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    button {
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }

    .hidden {
        display: none !important;
    }

    .invisible {
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        margin: -1px !important;
        border: 0 !important;
        padding: 0 !important;
        white-space: nowrap !important;
        clip-path: inset(100%) !important;
        clip: rect(0 0 0 0) !important;
        overflow: hidden !important;
        z-index: -1 !important;
    }

    .color-accent {
        display: inline-block;
        color: $color-accent;
    }

    // Grid on 12 columns
    &__container {
        display: block;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

        @media (min-width: $sm) {
            padding-right: 40px;
            padding-left: 40px;
        }

        @media (min-width: $md) {
            max-width: 720px;
            padding-left: 0;
            padding-right: 0;
        }

        @media (min-width: $lg) {
            max-width: 960px;
        }

        @media (min-width: $xl) {
            max-width: 1060px;
        }
    }
}