// Colors
$color-font-primary: #343439;
//$color-font-control: #161516;
//$color-font-accent: #74C733;
//$color-font-btn: #ffffff;
//$color-back-primary: #ffffff;
//$color-btn-accent: #74C733;
//$color-btn-hover: #57A41B;

// Media quires
$sm: 390px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$tf: cubic-bezier(0.22, 1, 0.36, 1);