ul.blog__list
    li.blog__item
        a.blog__article(href="#")
            // Картинку для поста добавлять в инлайновый атрибут style -> background-image
            span.blog__picture(style="background-image: url('img/temp/a1.jpg');")

            h3.blog__caption Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил

            p.blog__desctription Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего ...

            ul.blog__statistics
                li.blog__date
                    span
                        include ../../img/i-calendar.svg
                        | 15.12.2021
                li.blog__viewed
                    span
                        include ../../img/i-eye.svg
                        | 701
                li.blog__shared
                    span
                        include ../../img/i-send.svg
                        | 12
                li.blog__timeread
                    span
                        include ../../img/i-clock.svg
                        | 7 мин.

    li.blog__item
        a.blog__article(href="#")
            span.blog__picture(style="background-image: url('img/temp/a2.jpg');")

            h3.blog__caption Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил

            p.blog__desctription Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего ...

            ul.blog__statistics
                li.blog__date
                    span
                        include ../../img/i-calendar.svg
                        | 15.12.2021
                li.blog__viewed
                    span
                        include ../../img/i-eye.svg
                        | 701
                li.blog__shared
                    span
                        include ../../img/i-send.svg
                        | 12
                li.blog__timeread
                    span
                        include ../../img/i-clock.svg
                        | 7 мин.

    li.blog__item
        a.blog__article(href="#")
            span.blog__picture(style="background-image: url('img/temp/a3.jpg');")

            h3.blog__caption Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил

            p.blog__desctription Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего ...

            ul.blog__statistics
                li.blog__date
                    span
                        include ../../img/i-calendar.svg
                        | 15.12.2021
                li.blog__viewed
                    span
                        include ../../img/i-eye.svg
                        | 701
                li.blog__shared
                    span
                        include ../../img/i-send.svg
                        | 12
                li.blog__timeread
                    span
                        include ../../img/i-clock.svg
                        | 7 мин.

    li.blog__item
        a.blog__article(href="#")
            span.blog__picture(style="background-image: url('img/temp/a4.jpg');")

            h3.blog__caption Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил

            p.blog__desctription Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего ...

            ul.blog__statistics
                li.blog__date
                    span
                        include ../../img/i-calendar.svg
                        | 15.12.2021
                li.blog__viewed
                    span
                        include ../../img/i-eye.svg
                        | 701
                li.blog__shared
                    span
                        include ../../img/i-send.svg
                        | 12
                li.blog__timeread
                    span
                        include ../../img/i-clock.svg
                        | 7 мин.

    li.blog__item
        a.blog__article(href="#")
            span.blog__picture(style="background-image: url('img/temp/a5.jpg');")

            h3.blog__caption Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил

            p.blog__desctription Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего ...

            ul.blog__statistics
                li.blog__date
                    span
                        include ../../img/i-calendar.svg
                        | 15.12.2021
                li.blog__viewed
                    span
                        include ../../img/i-eye.svg
                        | 701
                li.blog__shared
                    span
                        include ../../img/i-send.svg
                        | 12
                li.blog__timeread
                    span
                        include ../../img/i-clock.svg
                        | 7 мин.

    li.blog__item
        a.blog__article(href="#")
            span.blog__picture(style="background-image: url('img/temp/a6.jpg');")

            h3.blog__caption Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил

            p.blog__desctription Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего ...

            ul.blog__statistics
                li.blog__date
                    span
                        include ../../img/i-calendar.svg
                        | 15.12.2021
                li.blog__viewed
                    span
                        include ../../img/i-eye.svg
                        | 701
                li.blog__shared
                    span
                        include ../../img/i-send.svg
                        | 12
                li.blog__timeread
                    span
                        include ../../img/i-clock.svg
                        | 7 мин.
