//- Include used template for this page
extends ../../templates/template

//- Variables for include this in used template
block variables
    - let title       = 'Write title for this page here'
    - let description = 'Write description for this page here'
    - let keywords    = 'Write keywords for this page here'
    - let pageClass   = 'page-blog'

block content
    h1 hello world