@import "../../templates/scss/variables";

.post {
    padding-top: 40px;

    @media (min-width: $sm) {
        padding-top: 50px;
    }

    @media (min-width: $lg) {
        padding-top: 60px;
    }

    &__socials {
        display: flex;
        flex-direction: row;

        &[data-lang="ru"] {
            [data-lang-for="ru"] { display: block; }
            [data-lang-for="en"] { display: none; }
        }
        &[data-lang="en"] {
            [data-lang-for="en"] { display: block; }
            [data-lang-for="ru"] { display: none; }
        }

        li {
            display: inline-flex;
            align-items: center;
            width: 24px;
            height: 24px;
            margin-right: 12px;

            &:first-child {
                width: auto;
                margin-right: 10px;
            }

            &:last-child {
                margin-right: 0;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                font-size: 13px;
                line-height: 18px;
                color: $color-accent;
            }

            a, img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        padding: 0;

        h1 {
            display: block;
            width: 100%;
            margin: 20px 0 0;
            padding: 0;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.3;
            color: #212224;

            @media (min-width: $sm) {
                margin-top: 30px;
                font-size: 32px;
                line-height: 45px;
            }

            @media (min-width: $lg) {
                font-size: 41px;
                line-height: 55px;
            }

            @media (min-width: $xl) {
                margin-top: 0;
            }
        }

        .post__socials {
            @media (min-width: $xl) {
                display: none;
            }
        }
    }

    &__author {
        width: 100%;
        padding: 20px 0;
        margin-top: 40px;
        border-top: 1px solid #d8dbe1;
        border-bottom: 1px solid #d8dbe1;
    }
}