.post__tags-wrap
    ul.post__tags
        li Теги:
        li
            a(href="") Instagram
        li
            a(href="") Обучение
        li
            a(href="") Советы
        li
            a(href="") VK

    include post-socials
