.post__sidebar
    article
        a(href="#")
            h3 Как узнать кто отписался в инстаграме — онлайн и бесплатно
            p Даже при успешном продвижении аккаунта в Инстаграм всегда будет процент отписок.
            ul
                li
                    img(src="img/i-calendar.svg" alt)
                    | 15.12.2021
                li
                    img(src="img/i-eye.svg" alt)
                    | 701
                li
                    img(src="img/i-clock.svg" alt)
                    | 7 мин.

    article
        a(href="#")
            h3 Как проследить за женой через телефон — инструкция
            p Пока я был молодым и свободным, не мог понять тех, кто женился – они как ненормальные! Роются у жен в карманах, в смартфонах, в шкафах…
            ul
                li
                    img(src="img/i-calendar.svg" alt)
                    | 15.12.2021
                li
                    img(src="img/i-eye.svg" alt)
                    | 701
                li
                    img(src="img/i-clock.svg" alt)
                    | 7 мин.

    article
        a(href="#")
            h3 Как узнать гостей в Инстаграм — с программой и без программы
            p Пользователям Instagram нередко хочется знать, кто ими интересуется.
            ul
                li
                    img(src="img/i-calendar.svg" alt)
                    | 15.12.2021
                li
                    img(src="img/i-eye.svg" alt)
                    | 701
                li
                    img(src="img/i-clock.svg" alt)
                    | 7 мин.

    article
        a(href="#")
            h3 Как проследить за телефоном мужа без его ведома — 27 способов
            p Когда была совсем молодой, думала: как можно так настойчиво следить за своим мужем?
            ul
                li
                    img(src="img/i-calendar.svg" alt)
                    | 15.12.2021
                li
                    img(src="img/i-eye.svg" alt)
                    | 701
                li
                    img(src="img/i-clock.svg" alt)
                    | 7 мин.
